@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202024;
  color: #E1E1E6;
  -webkit-font-smoothing: antialised;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  bpx-shadow: #00875F;
}

body, input, textarea, button {
  font: 400 1rem Roboto, sans-serif
}